{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/fanari.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>MoreDeT Register</title>
</head>
<body>
    <div class="container">
        
        <div class="bk"></div>
        <div class="bk1"></div>
        <div class="bk2"></div>
        <div class="bk3"></div>

        <div class="block-center-login">
            <div class="left-block-login">
            </div>
            <div class="right-block-login">
                <div class="block-login">
                    <form action="{% url 'register' %}" method="post">

                        {% csrf_token %}
        
                            
                        <div id="register_btn" class="forum-register">
                            <h1>Sing in</h1>
                            <p>
                                <label for="username" class="uname" data-icon="u" > Username </label>
                                <input id="username" name="username" required="required" type="text" placeholder=""/>
                            </p>
                            <p>
                                <label for="email" class="youemail" data-icon="p"> Your email </label>
                                <input id="email" name="email" required="required" type="email" placeholder="" />
                            </p>
                            <p>
                                <label for="password1" class="youpasswd" data-icon="p"> password </label>
                                <input id="password1" name="password1" required="required" type="password" placeholder="" />
                            </p>
                            <p>
                                <label for="password2" class="youpasswd" data-icon="p"> Your password </label>
                                <input id="password2" name="password2" required="required" type="password" placeholder="" />
                            </p>
                            
                            <p class="reg_btn">
                                <button type='submit'>Register</button>
                                <p class="fr"><a href="{% url 'login' %}">есть аккаунт?</a></p>
                                <p class="fr2"><a href="{% url 'index' %}">back</a></p>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>