*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(121,255,120);
    background: linear-gradient(172deg, rgba(121,255,120,1) 0%, rgba(255,172,254,1) 100%);
}

.container{
    width: 100%;
    height: 100vh;
}

.header{
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
}

.logo{
    width: 25%;
    margin-left: 140px;
}

.logo a{
    color: rgb(157, 121, 214);
    text-decoration: none;
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;    
    transition: 0.35s;
}

.logo a:hover{
    color: rgb(131, 78, 216);
}

.logo a:active{
    position: relative;
    top: 2px;
}

.menu{
    width: 50%;
    height: 100%;
    align-content: center;
}

.menu a{
    float: right;
    font-size: 20px;
    color: rgb(157, 121, 214);
    font-family: "Dela Gothic One", sans-serif;
}

.menu a:hover{
    color:rgb(131, 78, 216);
}

.menu a:active{
    position: relative;
    top: 2px;
}

.logout-btn{
    display: flex;
    width: 100%;
    height:500px;
    justify-content: center;
    align-items: center;
}

.logout-btn button{
    font-family: "Archivo Black", sans-serif;   
    font-size: 20px; 
    padding: 20px;
    border-radius: 20px;
    color:rgb(255, 238, 0);
    border: 0;
    background-color: rgb(131, 78, 216);
}

.logout-btn button:hover{
    cursor: pointer;
    color:rgba(255, 238, 0, 0.947);
    background-color: rgb(131, 78, 216, 0.947);
}